#container{
    height: 100vh;
    background-color: #fff;
    background-image: linear-gradient(90deg, #e0e0e0, transparent 1px),
    linear-gradient(#e0e0e0, transparent 1px);
    background-size: 20px 20px, 20px 20px;
    overflow: hidden;
}


.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide {
    overflow: hidden;
}


.mo_ab{
    display: none;
}



/*-------------------------------1page-------------------------------*/
#square_wrap{
    max-width: 1728px;
    width: 90%;
    max-height: 800px;
    height: 75%;
    margin: 0 auto;
    top: calc(50% - 37%);
    position: relative;
}


#square_wrap .square, #square_wrap .square1, #square_wrap .square2, #introBox2, #introBox3{
    position: absolute;
}

#square_wrap .square{
    width: 35%;
}

#square7, #square8{
    width: 23%;
}

#square_wrap .square2{
    width: 46%;
}


#square1{
    left: 10%;
    top: 20%;
    z-index: 5;
}

#square2{
    left: 8%;
    top: 17%;
    z-index: 6;
}

#square3{
    left: 6%;
    top: 14%;
    z-index: 7;
}

#square4{
    left: 4%;
    top: 11%;
    z-index: 8;
}

#square5{
    left: 2%;
    top: 8%;
    z-index: 9;
}

/*검정색 BIG 텍스트 박스*/
#square_wrap #introBox1 #square6{
    width: 85%;
    left: 6%;
    top: 5%;
    z-index: 10;
}

#introBox1 span{
    font-family: 'S-CoreDream-7ExtraBold';
    position: absolute;
    font-size: 150px;
    color: #838383;
    left: 37%;
    top: 10%;
    line-height: 1.15;
    z-index: 10;
}

#square7{
    right: 2%;
    top: 6%;
    z-index: 3;
}

#square8{
    right: 4%;
    top: 3%;
    z-index: 4;
}


/*SMALL 텍스트 박스*/
#introBox2{
    width: 23%;
    /*height: 50%;*/
    right: 6%;
    top: 0;
    z-index: 12;
    background: url("../img/ab_8_square.png") no-repeat;
    background-size: contain;
}

#square9{
    width: 100%;
    opacity: 0;
    position: static !important;
}


#introBox2 span{
    font-family: 'S-CoreDream-9Black';
    font-size: 61px;
    position: absolute;
    color: #000;
    line-height: 1.15;
    text-align: right;
    display: block;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 95%;
    height: 70%;
    z-index: 12;
}




#square10{
    right: 0;
    bottom: 0;
    z-index: 1;
}

/*middle 텍스트 박스*/
#introBox3{
    width: 46%;
    right: 7.5%;
    bottom: 7%;
    z-index: 11;
    background: url("../img/ab_10_square.png") no-repeat;
    background-size: contain;
}

#square11{
    width: 100% !important;
    opacity: 0;
    position: static !important;
}


#introBox3 span{
    font-family: 'S-CoreDream-9Black';
    font-size: 61px;
    position: absolute;
    color: #000;
    line-height: 1.15;
    display: block;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 5%;
    width: 61%;
    height: 72%;
    z-index: 12;
}

#square12{
    right: 1.5%;
    bottom: 3%;
    z-index: 2;
}

#profile{
    z-index: 999;
}




/*-------------------------------2page-------------------------------*/

/*left box*/
#square_wrap2{
    position: relative;
    /*background: #eee;*/
    max-width: 1780px;
    width: 93%;
    max-height: 890px;
    height: 83%;
    margin: 0 auto;
    top: calc(50% - 40%);
}


#box_wrap, #box_wrap2{
    width: 49.5%;
    height: 100%;
    position: absolute;
    /*background: #000;*/
}

#box_wrap .square3, #box_wrap2 .square3{
    width: 96.5%;
    position: absolute;
}

#box_wrap .txtBox span{
    position: absolute;
    z-index: 999;
}

#box_wrap .txtBox span:nth-of-type(1){
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 80px;
    top: 5%;
    left: 5%;
    line-height: 1.2;
}

#box_wrap .txtBox span:nth-of-type(2){
    font-family: 'S-CoreDream-3Light';
    font-size: 30px;
    line-height: 1.4;
    left: 5%;
    top: 30%;

}


#box_wrap .txtBox #square13{
    position: absolute;
    bottom: 0;
    right: 1%;
}



/*right box*/

#box_wrap2 {
    right: 0;
}

#square15{
    z-index: 99;
    left: 1%;
}

#square16{
    position: absolute;
    bottom: 0;
    right: 0;
}

#box_wrap2 .txtBox2 span{
    position: absolute;
    z-index: 999;
}

#box_wrap2 .txtBox2>span:nth-of-type(1){
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 80px;
    top: 5%;
    left: 5%;
    line-height: 1.2;
}


/*file Box*/


#box_wrap2 .txtBox2{
    width: 100%;
    height: 100%;
}

#fileBox{
    width: 82%;
    height: 70%;
    /*background: #eee;*/
    position: relative;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: calc(50% - 23%);
}

#fileBox p{
    width: 29%;
    height: 42%;
    background: url("../img/ab_17_file-b.png") no-repeat;
    background-size: contain;
    position: relative;
    text-align : center;
    line-height: 1;
}



#fileBox p:active {
    background: url("../img/ab_17_file-p.png") no-repeat;
    background-size: contain;
}

#fileBox p span{
    font-family: 'S-CoreDream-9Black';
    font-size: 80px;
    position: absolute;
    left:0;
    right: 0;
    top: calc(50% - 20%);
    cursor:pointer
}

#fileBox p span.active {
    font-size: 60px;
    top: calc(50% - 15%);
}

#fileBox p .txt-html{
    font-size: 42px;
}



/*반응형 적용*/


/*화면 너비 0 ~ 1900px*/
@media (max-width: 1900px){
    #square_wrap{
        width: 1500px;
        height: 650px;
        margin: 0 auto;
        top: calc(50% - 325px);
        position: relative;
    }

    /*----------------1page----------------*/
    #square1{
        left: 9%;
        top: 18%;
        z-index: 5;
    }

    #square2{
        left: 7%;
        top: 15%;
        z-index: 6;
    }

    #square3{
        left: 5%;
        top: 12%;
        z-index: 7;
    }

    #square4{
        left: 3%;
        top: 9%;
        z-index: 8;
    }

    #square5{
        left: 1%;
        top: 6%;
        z-index: 9;
    }

    #square10{
        bottom: 0;
    }

    #introBox3{
        bottom: 7%;
    }

    #square12{
        right: 1.5%;
        bottom: 3%;
        z-index: 2;
    }

    #introBox1 span{
        font-size: 7.5em;
    }

    #introBox2 span{
        font-size: 3.3em;
    }


    #introBox3 span{
        font-size:3.3em;
    }

    /*------------------2page------------------*/
    #square_wrap2{
        width: 1400px;
        height: 550px;
        margin: 0 auto;
        top: calc(50% - 350px);
        position: relative;
    }
    #box_wrap .txtBox #square13{
        top: 3%;
    }

    #square16{
        top: 3%;
    }

    #box_wrap .txtBox span:nth-of-type(1){
        font-size: 70px;
    }

    #box_wrap .txtBox span:nth-of-type(2){
        font-size: 25px;
        top: 34%;

    }

    #box_wrap2 .txtBox2>span:nth-of-type(1){
        font-size: 70px;
    }

    #fileBox{
        top: calc(50% - 10%);
    }


    #fileBox p span{
        font-size: 4em;
        position: absolute;
        left:0;
        right: 0;
        margin-left: -22px;
        top: calc(50% - 18%);
    }

    #fileBox p span.active {
        font-size: 2.5em;
        top: calc(50% - 8%);
    }

    #fileBox p .txt-html{
        font-size: 1.8em;
    }
}



/*화면 너비 0 ~ 1499px*/
@media (max-width: 1499px){
    #square_wrap{
        width: 1100px;
        height: 500px;
        margin: 0 auto;
        top: calc(50% - 250px);
        position: relative;
    }


    #introBox1 span{
        font-size: 6em;
    }

    #introBox2 span{
        font-size: 2.35em;
    }


    #introBox3 span{
        font-size: 2.35em;
    }

/*-------------------2page------------------*/
    #square_wrap2{
        width: 1100px;
        height: 500px;
        margin: 0 auto;
        top: calc(50% - 250px);
        position: relative;
    }
    #box_wrap .txtBox #square13{
        top: 3%;
    }

    #square16{
        top: 3%;
    }

    #box_wrap .txtBox span:nth-of-type(1){
        font-size: 3.5em;
    }

    #box_wrap .txtBox span:nth-of-type(2){
        font-size: 1.2em;
        top: 34%;

    }

    #box_wrap2 .txtBox2>span:nth-of-type(1){
        font-size: 3.5em;
    }

    #fileBox{
        top: calc(50% - 18%);
    }


    #fileBox p span{
        font-size: 3.5em;
        margin-right: -20px;
        top: calc(50% - 18%);
    }

    #fileBox p span.active {
        font-size: 2.2em;
        top: calc(50% - 11%);
    }

    #fileBox p .txt-html{
        font-size: 1.8em;
    }

}



/*화면 너비 0 ~ 1200px*/
@media (max-width: 1200px){
    .swiper-container{
        display: none;
    }


    #mo_wrap{
        width: 100vw;
        height: 100vh;
        overflow-y:scroll;
    }

    .mo_ab{
        display: block;
        width: 100%;

    }


    #mo_img{
        width: 100%;
        max-height: 4256px;
        position: absolute;
        background: url("../img/mo_ab.png") no-repeat;
        background-size: contain;
        overflow-y:scroll;

    }

    .line{
        background: #333;
    }

}